a:link {
  color: #FFFFFF; }

a:visited {
  color: #FFFFFF; }

a:hover {
  color: #FFFFFF; }

.fas {
  position: fixed;
  top: 250px;
  left: 0; }

.background {
  background-color: #000000; }

video {
  object-fit: contain;
  margin-left: 175px; }

.setBack {
  position: absolute;
  top: 80px;
  left: 104px; }

.smokeContainer h2 .smoke {
  opacity: 0;
  display: inline-block;
  animation: animateSmoke 3s linear forwards; }

.smokeContainer h2 .smoke:nth-child(1) {
  animation-delay: 1s; }

.smokeContainer h2 .smoke:nth-child(2) {
  animation-delay: 2s; }

.smokeContainer h2 .smoke:nth-child(3) {
  animation-delay: 2.5s; }

.smokeContainer h2 .smoke:nth-child(4) {
  animation-delay: 2.75s; }

.smokeContainer h2 .smoke:nth-child(5) {
  animation-delay: 3s; }

.smokeContainer h2 .smoke:nth-child(6) {
  animation-delay: 3.5s; }

.smokeContainer h2 .smoke:nth-child(7) {
  animation-delay: 3.75s; }

#setDown {
  position: absolute;
  top: 150px; }

@keyframes animateSmoke {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px); }
  100% {
    opacity: 2;
    transform: rotateY(0deg);
    filter: blur(0); } }

html {
  box-sizing: border-box;
  background: #212121;
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.slide {
  position: relative;
  overflow: hidden; }
  .slide .slide__inner-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    z-index: 1; }
    .slide .slide__inner-wrapper .slide__heading {
      margin-bottom: 0.3em;
      font-size: 3em;
      text-align: center; }
    .slide .slide__inner-wrapper .slide__description {
      font-size: 1.25em;
      font-weight: 100;
      line-height: 1.5;
      text-align: center; }

/* ----------------------
custom partials
-----------------------*/
.height--100 {
  height: 100vh; }

.slideUp {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.7s ease-out; }

.is-active .slideUp {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); }

.is-active .slideUp--delay-2 {
  transition-delay: 0.2s; }

.is-active .slideUp--delay-3 {
  transition-delay: 0.3s; }

/* ----------------------
slide section
-----------------------*/
.slide {
  position: relative;
  overflow: hidden; }

.slide__bg-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1; }

img {
  width: 100vw;
  height: 100vh; }

.slide__inner-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: white;
  z-index: 1; }

.slide__inner-wrapper--top {
  top: 10%; }

.slide__inner-wrapper--left {
  display: block;
  left: 10%;
  bottom: 40%;
  transform: translateX(0);
  max-width: 500px; }

.slide__inner-wrapper--black {
  color: black; }

.slide__heading {
  margin-bottom: 0.3em;
  font-size: 3em;
  text-align: center; }

.slide__description {
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.5;
  text-align: center; }

.slide__inner-wrapper--left .slide__heading,
.slide__inner-wrapper--left .slide__description {
  text-align: left; }

.slide__scroll-btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0.8em 2em;
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2); }

.slide__download-btn {
  margin-top: 1em;
  padding: 0.3em 1em;
  border: 1px solid #212121;
  font-size: 1.2em;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer; }

.slide__download-btn:hover {
  background: #212121;
  color: white; }

/* ----------------------
content section
-----------------------*/
.content {
  background: #212121; }

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 10%;
  padding: 7.5em 0;
  color: white; }

.content__heading {
  font-size: 3em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  text-align: center; }

.content__description {
  font-size: 1.25em;
  text-align: center; }

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0; }

@media (max-width: 768px) {
  .slide__inner-wrapper--left {
    left: 0;
    top: 10%; } }
