i:link {
  color: #FFFFFF; }

i:visited {
  color: #FFFFFF; }

i:hover {
  color: #FFFFFF;
  cursor: pointer; }

.comment-body .posts-displayform {
  background-color: #FFFFFF;
  width: 572px;
  position: absolute;
  top: 43px; }

.comment-body .postContainer {
  width: 602px;
  height: 50px;
  position: absolute;
  top: 165px;
  left: 395px; }
  .comment-body .postContainer .postContent {
    background-color: #FFFFFF; }

.comment-body .tweetComponentContainer .displaytweets .tweetUser p {
  float: right; }

.comment-body .tweetComponentContainer .displaytweets .clear {
  clear: both; }

.comment-body .tweetComponentContainer .displaytweets .tweetContent {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.comment-body .tweetComponentContainer .displaytweets .buttonFooter {
  margin-left: 60px; }
  .comment-body .tweetComponentContainer .displaytweets .buttonFooter button {
    background: none;
    border-style: none; }
    .comment-body .tweetComponentContainer .displaytweets .buttonFooter button .fas {
      width: 20px;
      height: 20px; }
    .comment-body .tweetComponentContainer .displaytweets .buttonFooter button .far {
      width: 20px;
      height: 20px; }
    .comment-body .tweetComponentContainer .displaytweets .buttonFooter button .likeunlike {
      display: none; }
    .comment-body .tweetComponentContainer .displaytweets .buttonFooter button .displayed {
      display: inline-block; }
