.color {
  background-color: #e6ecf0; }
  .color header {
    width: 100%;
    height: 46px;
    background-color: white;
    border-bottom: #ACB1B4;
    border-bottom-style: solid;
    position: absolute;
    top: 0; }
    .color header .nav-container {
      width: 1190px;
      height: 46px;
      margin-left: auto;
      margin-right: auto; }
      .color header .nav-container nav {
        width: 448px;
        height: 46px; }
        .color header .nav-container nav ul {
          height: 46px;
          padding-top: 10px; }
          .color header .nav-container nav ul li {
            list-style-type: none;
            display: inline;
            width: 90; }
      .color header .nav-container img {
        width: 20px;
        height: 20px;
        float: right;
        position: absolute;
        top: 0;
        margin-top: 15px; }
      .color header .nav-container .right-nav {
        width: 400px;
        height: 46px;
        float: right;
        position: absolute;
        top: 0;
        margin-left: 790px;
        padding-top: 10px; }
        .color header .nav-container .right-nav input {
          border-radius: 100px; }
        .color header .nav-container .right-nav button {
          margin-right: 10px;
          color: #FFFFFF;
          background-color: #1DA1F2;
          border: #1DA1F2;
          font-weight: bold;
          border-radius: 100px;
          font-size: 14px;
          padding: 6px 16px;
          position: relative;
          text-align: center; }

.profile-card {
  background-color: #FFFFFF;
  position: absolute;
  top: 55px;
  left: 25px;
  width: 290px;
  height: 260px; }
  .profile-card .card-colorheader {
    background-color: #1DA1F2;
    width: 290px;
    height: 95px; }
  .profile-card .cardinfo-header {
    height: 50px; }
    .profile-card .cardinfo-header .card-photo {
      float: left;
      width: 72px;
      height: 72px;
      position: absolute;
      top: 75px; }
      .profile-card .cardinfo-header .card-photo img {
        width: 72px;
        height: 72px;
        border-radius: 100px; }
    .profile-card .cardinfo-header .username {
      text-align: center; }
  .profile-card .card-info {
    margin-top: 12px; }
    .profile-card .card-info ul {
      margin-top: 12px;
      list-style-type: none; }
      .profile-card .card-info ul li {
        color: #1DA1F2;
        font-weight: bold;
        width: 71px;
        display: inline-block; }
        .profile-card .card-info ul li span {
          color: #657786;
          font-weight: lighter; }

.following-card {
  position: absolute;
  top: 330px;
  left: 25px;
  width: 290px;
  height: 260px; }
  .following-card .userbox {
    background-color: #FFFFFF;
    border-bottom: solid 1px;
    border-color: #6c757d; }
    .following-card .userbox img {
      width: 72px;
      height: 72px;
      border-radius: 100px; }
    .following-card .userbox h1 {
      font-size: 20px;
      width: 150px;
      display: inline;
      margin-left: 40px; }

.form-group {
  padding-top: 12px;
  width: 600px;
  position: absolute;
  top: 300px;
  left: 410px; }
  .form-group form .form-control {
    border-radius: 5px; }
  .form-group button {
    margin-right: 10px;
    color: #FFFFFF;
    background-color: #1DA1F2;
    border: #1DA1F2;
    font-weight: bold;
    border-radius: 100px;
    font-size: 14px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    margin-left: 500px; }

@media screen and (max-width: 400px) {
  .color {
    background-color: #e6ecf0; }
    .color header {
      width: 100%;
      height: 46px;
      background-color: white;
      border-bottom: #ACB1B4;
      border-bottom-style: solid;
      position: absolute;
      top: 0; }
      .color header .nav-container {
        width: 1190px;
        height: 46px;
        margin-left: auto;
        margin-right: auto; }
        .color header .nav-container nav {
          width: 448px;
          height: 46px; }
          .color header .nav-container nav ul {
            height: 46px;
            padding-top: 10px; }
            .color header .nav-container nav ul li {
              list-style-type: none;
              display: inline;
              width: 90; }
        .color header .nav-container img {
          width: 20px;
          height: 20px;
          float: right;
          position: absolute;
          top: 0;
          margin-top: 15px; }
        .color header .nav-container .right-nav {
          width: 400px;
          height: 46px;
          float: right;
          position: absolute;
          top: 0;
          margin-left: 790px;
          padding-top: 10px; }
          .color header .nav-container .right-nav input {
            border-radius: 100px; }
          .color header .nav-container .right-nav img {
            width: 38px;
            height: 38px;
            border-radius: 100px;
            margin-left: 192px;
            position: absolute;
            top: 0; }
          .color header .nav-container .right-nav button {
            margin-right: 10px;
            color: #FFFFFF;
            background-color: #1DA1F2;
            border: #1DA1F2;
            font-weight: bold;
            border-radius: 100px;
            font-size: 14px;
            padding: 6px 16px;
            position: relative;
            text-align: center; }
  .profile-card {
    background-color: #FFFFFF;
    position: absolute;
    top: 55px;
    left: 25px;
    width: 290px;
    height: 260px; }
    .profile-card .card-colorheader {
      background-color: #1DA1F2;
      width: 290px;
      height: 95px; }
    .profile-card .cardinfo-header {
      height: 50px; }
      .profile-card .cardinfo-header .card-photo {
        float: left;
        width: 72px;
        height: 72px;
        position: absolute;
        top: 75px; }
        .profile-card .cardinfo-header .card-photo img {
          width: 72px;
          height: 72px;
          border-radius: 100px; }
      .profile-card .cardinfo-header .username {
        text-align: center; }
    .profile-card .card-info {
      margin-top: 12px; }
      .profile-card .card-info ul {
        margin-top: 12px;
        list-style-type: none; }
        .profile-card .card-info ul li {
          color: #1DA1F2;
          font-weight: bold;
          width: 71px;
          display: inline-block; }
          .profile-card .card-info ul li span {
            color: #657786;
            font-weight: lighter; }
  .following-card {
    position: absolute;
    top: 330px;
    left: 25px;
    width: 290px;
    height: 260px; }
    .following-card .userbox {
      background-color: #FFFFFF;
      border-bottom: solid 1px;
      border-color: #6c757d; }
      .following-card .userbox img {
        width: 72px;
        height: 72px;
        border-radius: 100px; }
      .following-card .userbox h1 {
        font-size: 20px;
        width: 150px;
        display: inline;
        margin-left: 40px; }
  .form-group {
    padding-top: 12px;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 410px; }
    .form-group form .form-control {
      border-radius: 5px; }
    .form-group button {
      margin-right: 10px;
      color: #FFFFFF;
      background-color: #1DA1F2;
      border: #1DA1F2;
      font-weight: bold;
      border-radius: 100px;
      font-size: 14px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      margin-left: 500px; } }

@media screen and (min-width: 401px) and (max-width: 720px) {
  .color {
    background-color: #e6ecf0; }
    .color header {
      width: 100%;
      height: 46px;
      background-color: white;
      border-bottom: #ACB1B4;
      border-bottom-style: solid;
      position: absolute;
      top: 0; }
      .color header .nav-container {
        width: 1190px;
        height: 46px;
        margin-left: auto;
        margin-right: auto; }
        .color header .nav-container nav {
          width: 448px;
          height: 46px; }
          .color header .nav-container nav ul {
            height: 46px;
            padding-top: 10px; }
            .color header .nav-container nav ul li {
              list-style-type: none;
              display: inline;
              width: 90; }
        .color header .nav-container img {
          width: 20px;
          height: 20px;
          float: right;
          position: absolute;
          top: 0;
          margin-top: 15px; }
        .color header .nav-container .right-nav {
          width: 400px;
          height: 46px;
          float: right;
          position: absolute;
          top: 0;
          margin-left: 790px;
          padding-top: 10px; }
          .color header .nav-container .right-nav input {
            border-radius: 100px; }
          .color header .nav-container .right-nav img {
            width: 38px;
            height: 38px;
            border-radius: 100px;
            margin-left: 192px;
            position: absolute;
            top: 0; }
          .color header .nav-container .right-nav button {
            margin-right: 10px;
            color: #FFFFFF;
            background-color: #1DA1F2;
            border: #1DA1F2;
            font-weight: bold;
            border-radius: 100px;
            font-size: 14px;
            padding: 6px 16px;
            position: relative;
            text-align: center; }
  .profile-card {
    background-color: #FFFFFF;
    position: absolute;
    top: 55px;
    left: 25px;
    width: 290px;
    height: 260px; }
    .profile-card .card-colorheader {
      background-color: #1DA1F2;
      width: 290px;
      height: 95px; }
    .profile-card .cardinfo-header {
      height: 50px; }
      .profile-card .cardinfo-header .card-photo {
        float: left;
        width: 72px;
        height: 72px;
        position: absolute;
        top: 75px; }
        .profile-card .cardinfo-header .card-photo img {
          width: 72px;
          height: 72px;
          border-radius: 100px; }
      .profile-card .cardinfo-header .username {
        text-align: center; }
    .profile-card .card-info {
      margin-top: 12px; }
      .profile-card .card-info ul {
        margin-top: 12px;
        list-style-type: none; }
        .profile-card .card-info ul li {
          color: #1DA1F2;
          font-weight: bold;
          width: 71px;
          display: inline-block; }
          .profile-card .card-info ul li span {
            color: #657786;
            font-weight: lighter; }
  .following-card {
    position: absolute;
    top: 330px;
    left: 25px;
    width: 290px;
    height: 260px; }
    .following-card .userbox {
      background-color: #FFFFFF;
      border-bottom: solid 1px;
      border-color: #6c757d; }
      .following-card .userbox img {
        width: 72px;
        height: 72px;
        border-radius: 100px; }
      .following-card .userbox h1 {
        font-size: 20px;
        width: 150px;
        display: inline;
        margin-left: 40px; }
  .form-group {
    padding-top: 12px;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 410px; }
    .form-group form .form-control {
      border-radius: 5px; }
    .form-group button {
      margin-right: 10px;
      color: #FFFFFF;
      background-color: #1DA1F2;
      border: #1DA1F2;
      font-weight: bold;
      border-radius: 100px;
      font-size: 14px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      margin-left: 500px; } }

@media screen and (min-width: 721px) and (max-width: 1280px) {
  .color {
    background-color: #e6ecf0; }
    .color header {
      width: 100%;
      height: 46px;
      background-color: white;
      border-bottom: #ACB1B4;
      border-bottom-style: solid;
      position: absolute;
      top: 0; }
      .color header .nav-container {
        width: 1190px;
        height: 46px;
        margin-left: auto;
        margin-right: auto; }
        .color header .nav-container nav {
          width: 448px;
          height: 46px; }
          .color header .nav-container nav ul {
            height: 46px;
            padding-top: 10px; }
            .color header .nav-container nav ul li {
              list-style-type: none;
              display: inline;
              width: 90; }
        .color header .nav-container img {
          width: 20px;
          height: 20px;
          float: right;
          position: absolute;
          top: 0;
          margin-top: 15px; }
        .color header .nav-container .right-nav {
          width: 400px;
          height: 46px;
          float: right;
          position: absolute;
          top: 0;
          margin-left: 790px;
          padding-top: 10px; }
          .color header .nav-container .right-nav input {
            border-radius: 100px; }
          .color header .nav-container .right-nav img {
            width: 38px;
            height: 38px;
            border-radius: 100px;
            margin-left: 192px;
            position: absolute;
            top: 0; }
          .color header .nav-container .right-nav button {
            margin-right: 10px;
            color: #FFFFFF;
            background-color: #1DA1F2;
            border: #1DA1F2;
            font-weight: bold;
            border-radius: 100px;
            font-size: 14px;
            padding: 6px 16px;
            position: relative;
            text-align: center; }
  .profile-card {
    background-color: #FFFFFF;
    position: absolute;
    top: 55px;
    left: 25px;
    width: 290px;
    height: 260px; }
    .profile-card .card-colorheader {
      background-color: #1DA1F2;
      width: 290px;
      height: 95px; }
    .profile-card .cardinfo-header {
      height: 50px; }
      .profile-card .cardinfo-header .card-photo {
        float: left;
        width: 72px;
        height: 72px;
        position: absolute;
        top: 75px; }
        .profile-card .cardinfo-header .card-photo img {
          width: 72px;
          height: 72px;
          border-radius: 100px; }
      .profile-card .cardinfo-header .username {
        text-align: center; }
    .profile-card .card-info {
      margin-top: 12px; }
      .profile-card .card-info ul {
        margin-top: 12px;
        list-style-type: none; }
        .profile-card .card-info ul li {
          color: #1DA1F2;
          font-weight: bold;
          width: 71px;
          display: inline-block; }
          .profile-card .card-info ul li span {
            color: #657786;
            font-weight: lighter; }
  .following-card {
    position: absolute;
    top: 330px;
    left: 25px;
    width: 290px;
    height: 260px; }
    .following-card .userbox {
      background-color: #FFFFFF;
      border-bottom: solid 1px;
      border-color: #6c757d; }
      .following-card .userbox img {
        width: 72px;
        height: 72px;
        border-radius: 100px; }
      .following-card .userbox h1 {
        font-size: 20px;
        width: 150px;
        display: inline;
        margin-left: 40px; }
  .form-group {
    padding-top: 12px;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 410px; }
    .form-group form .form-control {
      border-radius: 5px; }
    .form-group button {
      margin-right: 10px;
      color: #FFFFFF;
      background-color: #1DA1F2;
      border: #1DA1F2;
      font-weight: bold;
      border-radius: 100px;
      font-size: 14px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      margin-left: 500px; } }
