a:link {
  color: #66757F; }

a:visited {
  color: #66757F; }

a:hover {
  color: #66757F; }

.background img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.background .leftside {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .background .leftside .left {
    text-align: left;
    width: 389px;
    height: 264px;
    position: relative;
    top: 25%;
    left: 20%; }
    .background .leftside .left h1 {
      font-size: 18px;
      font-weight: bold;
      color: white;
      padding-left: 35px;
      margin-top: 48px;
      margin-bottom: 48px; }
      .background .leftside .left h1 img {
        width: 35px;
        height: 35px;
        padding-right: 5px;
        position: relative; }

.background .rightside {
  z-index: auto;
  float: right;
  position: absolute;
  background-color: white;
  width: 50%;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  .background .rightside .right {
    width: 350px;
    height: 326px;
    position: fixed;
    top: 120px;
    left: 770px; }
    .background .rightside .right .login-home {
      width: 350px;
      height: 42px;
      margin-top: 16px;
      margin-bottom: 16px; }
      .background .rightside .right .login-home .index-icon {
        height: 35px;
        width: 45px;
        margin-top: 16px; }
      .background .rightside .right .login-home .tweeter-b0 {
        color: #1DA1F2;
        background-color: white;
        border: #1DA1F2;
        border-style: solid;
        font-weight: 500;
        margin-left: 288px;
        border-radius: 100px;
        font-size: 12px;
        padding: 12px 12px;
        position: relative;
        text-align: center;
        height: 44px;
        width: 62px; }
        .background .rightside .right .login-home .tweeter-b0 a {
          display: block;
          border-radius: 100px; }
        .background .rightside .right .login-home .tweeter-b0 a:link {
          color: #1DA1F2; }
        .background .rightside .right .login-home .tweeter-b0 a:visited {
          color: #1DA1F2; }
        .background .rightside .right .login-home .tweeter-b0 a:hover {
          background-color: #E8F5FE; }
    .background .rightside .right h2 {
      font-size: 27px;
      font-weight: bold; }
    .background .rightside .right h3 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 48px;
      margin-bottom: 16px; }
    .background .rightside .right .tweeter-b1 {
      color: white;
      background-color: #1DA1F2;
      border: #1DA1F2;
      font-weight: bold;
      width: 350px;
      margin-bottom: 16px;
      border-radius: 100px;
      font-size: 14px;
      padding: 6px 16px;
      position: relative;
      text-align: center; }
      .background .rightside .right .tweeter-b1 a {
        display: block;
        border-radius: 100px; }
      .background .rightside .right .tweeter-b1 a:link {
        color: #FFFFFF; }
      .background .rightside .right .tweeter-b1 a:visited {
        color: #FFFFFF; }
      .background .rightside .right .tweeter-b1 a:hover {
        background-color: #1A91DA; }
    .background .rightside .right .tweeter-b2 {
      color: #1DA1F2;
      background-color: white;
      border: #1DA1F2;
      border-style: solid;
      font-weight: bold;
      width: 350px;
      border-radius: 100px;
      font-size: 14px;
      padding: 6px 16px;
      box-shadow: none;
      position: relative;
      text-align: center; }
      .background .rightside .right .tweeter-b2 a {
        display: block;
        border-radius: 100px; }
      .background .rightside .right .tweeter-b2 a:link {
        color: #1DA1F2; }
      .background .rightside .right .tweeter-b2 a:visited {
        color: #1DA1F2; }
      .background .rightside .right .tweeter-b2 a:hover {
        background-color: #E8F5FE; }

footer {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%; }
  footer ul {
    text-align: center;
    margin-top: 1%;
    list-style-type: none;
    margin: 0;
    padding-top: 1%; }
    footer ul li {
      color: #66757F;
      font-size: 13px;
      padding-right: 1%;
      display: inline; }
      footer ul li a:link {
        color: #66757F; }
      footer ul li a:visited {
        color: #66757F; }
      footer ul li a:hover {
        color: #66757F; }

.login {
  background-color: #E6ECF0; }
  .login header {
    background-color: #FFFFFF;
    border-bottom: #ACB1B4;
    border-bottom-style: solid;
    width: 100%;
    height: 46px;
    position: absolute;
    margin-bottom: 5px; }
    .login header nav {
      margin-left: 173px;
      width: 200px;
      padding-top: 10px; }
      .login header nav ul {
        width: 200px;
        height: 36px; }
        .login header nav ul li {
          font-size: 13px;
          color: #677680;
          font-weight: 500;
          list-style-type: none;
          display: inline;
          padding-right: 20px; }
          .login header nav ul li img {
            height: 20px;
            width: 20px;
            margin: 5px; }
  .login .login-page {
    width: 837px;
    height: 329px;
    position: fixed;
    margin-left: 221.5;
    margin-right: 221.5;
    margin-top: 60px;
    background-color: white;
    border: #CFD4D8;
    border-style: solid; }
    .login .login-page .login-form {
      width: 600px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 0; }
      .login .login-page .login-form h4 {
        font-size: 24px;
        width: 500px;
        margin-bottom: 15px; }
      .login .login-page .login-form .box {
        margin-bottom: 15px;
        width: 280px; }
      .login .login-page .login-form .tweeter-b3 {
        margin-top: 15px;
        margin-right: 10px;
        color: #FFFFFF;
        background-color: #1DA1F2;
        border: #1DA1F2;
        font-weight: bold;
        border-radius: 100px;
        font-size: 14px;
        padding: 6px 16px;
        position: relative;
        text-align: center; }
        .login .login-page .login-form .tweeter-b3 a {
          display: block;
          border-radius: 100px; }
        .login .login-page .login-form .tweeter-b3 a:link {
          color: #FFFFFF; }
        .login .login-page .login-form .tweeter-b3 a:visited {
          color: #FFFFFF; }
        .login .login-page .login-form .tweeter-b3 a:hover {
          background-color: #1A91DA; }
      .login .login-page .login-form .rem {
        font-size: 14px; }
    .login .login-page .bottom-login {
      background-color: #F5F8FA;
      height: 95px;
      padding-top: 20px;
      padding-bottom: 20px; }
      .login .login-page .bottom-login .block-content {
        width: 600px;
        margin-left: auto;
        margin-right: auto; }
        .login .login-page .bottom-login .block-content .new {
          color: #99A7B0;
          font-size: 14px;
          margin-bottom: 15px; }

.register header nav {
  background-color: #FFFFFF;
  border-bottom: #ACB1B4;
  border-bottom-style: solid;
  height: 46px; }
  .register header nav ul {
    padding-top: 10px; }
    .register header nav ul img {
      width: 25px;
      height: 20px;
      margin-left: 110px; }
    .register header nav ul input {
      background-color: rgba(0, 0, 0, 0.1);
      font-weight: bold;
      width: 350px;
      margin-left: 26px;
      border-radius: 100px;
      border-style: none;
      padding: 6px 16px; }
    .register header nav ul li {
      color: #677680;
      font-weight: 500;
      list-style-type: none;
      display: inline;
      padding-right: 20px;
      margin-left: 340px; }
    .register header nav ul .tweeter-b4 {
      width: 50px;
      color: #1DA1F2;
      background-color: #FFFFFF;
      border: #1DA1F2;
      border-style: solid;
      font-weight: bold;
      border-radius: 100px;
      padding: 6px 16px;
      position: relative;
      text-align: center; }
    .register header nav ul .tweeter-b5 {
      width: 50px;
      color: #FFFFFF;
      background-color: #1DA1F2;
      border: #1DA1F2;
      border-style: solid;
      font-weight: bold;
      border-radius: 100px;
      padding: 6px 16px;
      margin: 0;
      position: relative;
      text-align: center; }

.register .modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0; }
  .register .modal .modal-dialog {
    background-color: #FFFFFF;
    width: 600px;
    height: 560px;
    border-radius: 1%;
    margin-right: auto;
    margin-left: auto; }
    .register .modal .modal-dialog .modal-content {
      margin-top: 20px; }
      .register .modal .modal-dialog .modal-content .modal-header {
        width: 600px;
        height: 30px;
        padding-top: 10px; }
        .register .modal .modal-dialog .modal-content .modal-header img {
          width: 25px;
          height: 20px;
          margin-left: 50%; }
      .register .modal .modal-dialog .modal-content .modal-body {
        width: 522px;
        height: 300px;
        margin-left: auto;
        margin-right: auto; }
        .register .modal .modal-dialog .modal-content .modal-body .modal-title {
          font-size: 25px;
          width: 522px;
          height: 30px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
          margin-bottom: 15px; }
        .register .modal .modal-dialog .modal-content .modal-body .modal-form input {
          font-size: 25px;
          background-color: #F5F8FA;
          width: 522px;
          height: 80px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
          margin-bottom: 15px;
          border: none;
          border-bottom-style: solid;
          border-color: #B2B2B2; }
        .register .modal .modal-dialog .modal-content .modal-body .modal-form .tweeter-b6 {
          color: #FFFFFF;
          background-color: #1DA1F2;
          border: #1DA1F2;
          font-weight: bold;
          margin-bottom: 16px;
          margin-left: 200px;
          border-radius: 100px;
          font-size: 14px;
          padding: 6px 16px;
          position: relative;
          text-align: center; }
          .register .modal .modal-dialog .modal-content .modal-body .modal-form .tweeter-b6 a:link {
            color: #66757F; }
          .register .modal .modal-dialog .modal-content .modal-body .modal-form .tweeter-b6 a:visited {
            color: #66757F; }
          .register .modal .modal-dialog .modal-content .modal-body .modal-form .tweeter-b6 a:hover {
            color: #66757F; }

@media screen and (max-width: 400px) {
  .background img {
    display: none; }
  .background .leftside {
    display: none; }
  .background .rightside {
    width: 100%; }
    .background .rightside .right {
      width: 400px;
      height: 326px;
      position: fixed;
      top: 50px;
      left: 0px; }
      .background .rightside .right .login-home .index-icon {
        display: block;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 10px;
        left: 30px; }
      .background .rightside .right .login-home .tweeter-b0 {
        display: none; }
      .background .rightside .right h2 {
        text-align: center; }
      .background .rightside .right h3 {
        font-size: 10px;
        text-align: center; }
      .background .rightside .right .tweeter-b1 {
        margin-left: 25px; }
      .background .rightside .right .tweeter-b2 {
        margin-left: 25px; }
  footer {
    display: none; }
  .login header nav {
    margin-left: 0px; }
  .login .login-page {
    width: 100%;
    margin-left: 0px; }
    .login .login-page .login-form button {
      margin-left: 260px; }
    .login .login-page .login-form .checkbox {
      display: none; }
    .login .login-page .login-form label {
      display: none; }
    .login .login-page .login-form a {
      display: none; }
    .login .login-page .bottom-login {
      display: none; }
  .register header {
    display: none; }
  .register .modal .modal-dialog .modal-content .modal-header img {
    margin-left: 189px; } }

@media screen and (min-width: 401px) and (max-width: 720px) {
  .background img {
    display: none; }
  .background .leftside {
    display: none; }
  .background .rightside {
    width: 100%; }
    .background .rightside .right {
      width: 100%;
      height: 326px;
      position: fixed;
      top: 50px;
      left: 0px; }
      .background .rightside .right .login-home .index-icon {
        display: block;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 10px;
        left: 30px; }
      .background .rightside .right .login-home .tweeter-b0 {
        display: none; }
      .background .rightside .right h2 {
        text-align: center; }
      .background .rightside .right h3 {
        font-size: 10px;
        text-align: center; }
      .background .rightside .right .tweeter-b1 {
        margin-left: 25%; }
      .background .rightside .right .tweeter-b2 {
        margin-left: 25%; }
  footer {
    display: none; }
  .login header nav {
    margin-left: 0px; }
  .login .login-page {
    width: 500px;
    margin-left: 100px; }
    .login .login-page .login-form h4 {
      text-align: center; }
    .login .login-page .login-form input {
      margin-left: 110px; }
    .login .login-page .login-form button {
      margin-left: 320px; }
    .login .login-page .login-form .checkbox {
      display: none; }
    .login .login-page .login-form label {
      display: none; }
    .login .login-page .login-form a {
      display: none; }
    .login .login-page .bottom-login {
      display: none; }
  .register header {
    display: none; } }

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .background img {
    display: none; }
  .background .leftside {
    display: none; }
  .background .rightside {
    width: 100%; }
    .background .rightside .right {
      width: 100%;
      height: 326px;
      position: fixed;
      top: 50px;
      left: 0px; }
      .background .rightside .right .login-home .index-icon {
        display: block;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 10px;
        left: 30px; }
      .background .rightside .right .login-home .tweeter-b0 {
        display: none; }
      .background .rightside .right h2 {
        text-align: center; }
      .background .rightside .right h3 {
        font-size: 10px;
        text-align: center; }
      .background .rightside .right .tweeter-b1 {
        margin-left: 30%; }
      .background .rightside .right .tweeter-b2 {
        margin-left: 30%; }
  footer {
    display: none; }
  .register header {
    display: none; } }

@media screen and (min-width: 999px) and (max-width: 1200px) {
  .background img {
    display: none; }
  .background .leftside {
    display: none; }
  .background .rightside {
    width: 100%; }
    .background .rightside .right {
      width: 100%;
      height: 326px;
      position: fixed;
      top: 50px;
      left: 0px; }
      .background .rightside .right .login-home .index-icon {
        display: block;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 10px;
        left: 30px; }
      .background .rightside .right .login-home .tweeter-b0 {
        display: none; }
      .background .rightside .right h2 {
        text-align: center; }
      .background .rightside .right h3 {
        font-size: 10px;
        text-align: center; }
      .background .rightside .right .tweeter-b1 {
        margin-left: 35%; }
      .background .rightside .right .tweeter-b2 {
        margin-left: 35%; }
  footer {
    display: none; }
  .register header {
    display: none; } }
