// //dashboard//
i:link {
    color: #FFFFFF;
}
i:visited {
    color: #FFFFFF;
}
i:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.comment-body {
    // form position for user tweet
    .posts-displayform {
        background-color: #FFFFFF;
        width: 572px;
        position: absolute;
        top: 43px;
    }
    //wraps article tag for displaying tweets
    .postContainer{
        width: 602px;
        height: 50px;
        position: absolute;
        top: 165px;
        left: 395px;
        .postContent{
            background-color: #FFFFFF;

        }
    }
    .tweetComponentContainer{

        .displaytweets{

            .tweetUser{

                p{
                    float: right;
                }
            }
            .clear{
                clear: both;
            }
            .tweetContent{

                width: 400px;;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
            .buttonFooter{

                margin-left: 60px;
                button{
                    background: none;
                    border-style: none;
                    .fas{
                        width: 20px;
                        height: 20px;
                    }
                    .far{
                        width: 20px;
                        height: 20px;
                    }
                    .likeunlike{
                        display: none;
                    }
                    .displayed{
                        display: inline-block;
                    }
                }
            }
        }
    }

}
