//header nav//
.color{
    background-color: #e6ecf0;
    header{
        width: 100%;
        height: 46px;
        background-color: white;
        border-bottom: #ACB1B4;
        border-bottom-style: solid;
        position: absolute;
        top: 0;
        .nav-container{
            width: 1190px;
            height: 46px;
            margin-left: auto;
            margin-right: auto;
            nav{
                width: 448px;
                height: 46px;
                ul{
                    height: 46px;
                    padding-top: 10px;
                    li{
                        list-style-type: none;
                        display: inline;
                        width: 90;
                    }
                }
            }
            img{
                width: 20px;
                height: 20px;
                float: right;
                position: absolute;
                top: 0;
                margin-top: 15px;
            }
            .right-nav{
                width:400px;
                height: 46px;
                float: right;
                position: absolute;
                top: 0;
                margin-left: 790px;
                padding-top: 10px;
                input{
                    border-radius: 100px;
                }
                button{
                    margin-right: 10px;
                    color: #FFFFFF;
                    background-color: #1DA1F2;
                    border: #1DA1F2;
                    font-weight: bold;
                    border-radius: 100px;
                    font-size: 14px;
                    padding: 6px 16px;
                    position: relative;
                    text-align: center;
                }
            }
        }
    }
}


//profilecard//
.profile-card{
    background-color: #FFFFFF;
    position: absolute;
    top: 55px;
    left: 25px;
    width: 290px;
    height: 260px;
    .card-colorheader{
        background-color: #1DA1F2;
        width: 290px;
        height: 95px;
    }
    .cardinfo-header{
        height: 50px;
        .card-photo{
            float: left;
            width: 72px;
            height: 72px;
            position: absolute;
            top:75px;
            img{
                width: 72px;
                height: 72px;
                border-radius: 100px;
            }
        }
        .username{
            text-align: center;
        }
    }
    .card-info{
        margin-top: 12px;
        ul{
            margin-top: 12px;
            list-style-type: none;
            li{
                color: #1DA1F2;
                font-weight: bold;
                width: 71px;
                display: inline-block;

                span{
                    color: #657786;
                    font-weight: lighter;
                }


            }
        }
    }
}
//followcard//
.following-card{
    position: absolute;
    top: 330px;
    left: 25px;
    width: 290px;
    height: 260px;
    .userbox{
        background-color: #FFFFFF;
        border-bottom: solid 1px;
        border-color: #6c757d;
        img {
            width: 72px;
            height: 72px;
            border-radius: 100px;
        }
        h1{
            font-size: 20px;
            width: 150px;
            display: inline;
            margin-left: 40px;
        }
    }
}


//tweetform//
.form-group{
    padding-top: 12px;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 410px;
    form{
        .form-control{
            border-radius: 5px;
        }
    }
    button{
        margin-right: 10px;
        color: #FFFFFF;
        background-color: #1DA1F2;
        border: #1DA1F2;
        font-weight: bold;
        border-radius: 100px;
        font-size: 14px;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        margin-left: 500px;
    }
}



//articlepost//








@media screen and (max-width: 400px) {
    .color{
        background-color: #e6ecf0;
        header{
            width: 100%;
            height: 46px;
            background-color: white;
            border-bottom: #ACB1B4;
            border-bottom-style: solid;
            position: absolute;
            top: 0;
            .nav-container{
                width: 1190px;
                height: 46px;
                margin-left: auto;
                margin-right: auto;
                nav{
                    width: 448px;
                    height: 46px;
                    ul{
                        height: 46px;
                        padding-top: 10px;
                        li{
                            list-style-type: none;
                            display: inline;
                            width: 90;
                        }
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                    float: right;
                    position: absolute;
                    top: 0;
                    margin-top: 15px;
                }
                .right-nav{
                    width:400px;
                    height: 46px;
                    float: right;
                    position: absolute;
                    top: 0;
                    margin-left: 790px;
                    padding-top: 10px;
                    input{
                        border-radius: 100px;
                    }
                    img{
                        width: 38px;
                        height: 38px;
                        border-radius: 100px;
                        margin-left: 192px;
                        position: absolute;
                        top: 0;
                    }
                    button{
                        margin-right: 10px;
                        color: #FFFFFF;
                        background-color: #1DA1F2;
                        border: #1DA1F2;
                        font-weight: bold;
                        border-radius: 100px;
                        font-size: 14px;
                        padding: 6px 16px;
                        position: relative;
                        text-align: center;
                    }
                }
            }
        }
    }


    //profilecard//
    .profile-card{
        background-color: #FFFFFF;
        position: absolute;
        top: 55px;
        left: 25px;
        width: 290px;
        height: 260px;
        .card-colorheader{
            background-color: #1DA1F2;
            width: 290px;
            height: 95px;
        }
        .cardinfo-header{
            height: 50px;
            .card-photo{
                float: left;
                width: 72px;
                height: 72px;
                position: absolute;
                top:75px;
                img{
                    width: 72px;
                    height: 72px;
                    border-radius: 100px;
                }
            }
            .username{
                text-align: center;
            }
        }
        .card-info{
            margin-top: 12px;
            ul{
                margin-top: 12px;
                list-style-type: none;
                li{
                    color: #1DA1F2;
                    font-weight: bold;
                    width: 71px;
                    display: inline-block;

                    span{
                        color: #657786;
                        font-weight: lighter;
                    }


                }
            }
        }
    }
    //followcard//
    .following-card{
        position: absolute;
        top: 330px;
        left: 25px;
        width: 290px;
        height: 260px;
        .userbox{
            background-color: #FFFFFF;
            border-bottom: solid 1px;
            border-color: #6c757d;
            img {
                width: 72px;
                height: 72px;
                border-radius: 100px;
            }
            h1{
                font-size: 20px;
                width: 150px;
                display: inline;
                margin-left: 40px;
            }
        }
    }


    //tweetform//
    .form-group{
        padding-top: 12px;
        width: 600px;
        position: absolute;
        top: 300px;
        left: 410px;
        form{
            .form-control{
                border-radius: 5px;
            }
        }
        button{
            margin-right: 10px;
            color: #FFFFFF;
            background-color: #1DA1F2;
            border: #1DA1F2;
            font-weight: bold;
            border-radius: 100px;
            font-size: 14px;
            padding: 6px 16px;
            position: relative;
            text-align: center;
            margin-left: 500px;
        }
    }



    //articlepost//

}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .color{
        background-color: #e6ecf0;
        header{
            width: 100%;
            height: 46px;
            background-color: white;
            border-bottom: #ACB1B4;
            border-bottom-style: solid;
            position: absolute;
            top: 0;
            .nav-container{
                width: 1190px;
                height: 46px;
                margin-left: auto;
                margin-right: auto;
                nav{
                    width: 448px;
                    height: 46px;
                    ul{
                        height: 46px;
                        padding-top: 10px;
                        li{
                            list-style-type: none;
                            display: inline;
                            width: 90;
                        }
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                    float: right;
                    position: absolute;
                    top: 0;
                    margin-top: 15px;
                }
                .right-nav{
                    width:400px;
                    height: 46px;
                    float: right;
                    position: absolute;
                    top: 0;
                    margin-left: 790px;
                    padding-top: 10px;
                    input{
                        border-radius: 100px;
                    }
                    img{
                        width: 38px;
                        height: 38px;
                        border-radius: 100px;
                        margin-left: 192px;
                        position: absolute;
                        top: 0;
                    }
                    button{
                        margin-right: 10px;
                        color: #FFFFFF;
                        background-color: #1DA1F2;
                        border: #1DA1F2;
                        font-weight: bold;
                        border-radius: 100px;
                        font-size: 14px;
                        padding: 6px 16px;
                        position: relative;
                        text-align: center;
                    }
                }
            }
        }
    }


    //profilecard//
    .profile-card{
        background-color: #FFFFFF;
        position: absolute;
        top: 55px;
        left: 25px;
        width: 290px;
        height: 260px;
        .card-colorheader{
            background-color: #1DA1F2;
            width: 290px;
            height: 95px;
        }
        .cardinfo-header{
            height: 50px;
            .card-photo{
                float: left;
                width: 72px;
                height: 72px;
                position: absolute;
                top:75px;
                img{
                    width: 72px;
                    height: 72px;
                    border-radius: 100px;
                }
            }
            .username{
                text-align: center;
            }
        }
        .card-info{
            margin-top: 12px;
            ul{
                margin-top: 12px;
                list-style-type: none;
                li{
                    color: #1DA1F2;
                    font-weight: bold;
                    width: 71px;
                    display: inline-block;

                    span{
                        color: #657786;
                        font-weight: lighter;
                    }


                }
            }
        }
    }
    //followcard//
    .following-card{
        position: absolute;
        top: 330px;
        left: 25px;
        width: 290px;
        height: 260px;
        .userbox{
            background-color: #FFFFFF;
            border-bottom: solid 1px;
            border-color: #6c757d;
            img {
                width: 72px;
                height: 72px;
                border-radius: 100px;
            }
            h1{
                font-size: 20px;
                width: 150px;
                display: inline;
                margin-left: 40px;
            }
        }
    }


    //tweetform//
    .form-group{
        padding-top: 12px;
        width: 600px;
        position: absolute;
        top: 300px;
        left: 410px;
        form{
            .form-control{
                border-radius: 5px;
            }
        }
        button{
            margin-right: 10px;
            color: #FFFFFF;
            background-color: #1DA1F2;
            border: #1DA1F2;
            font-weight: bold;
            border-radius: 100px;
            font-size: 14px;
            padding: 6px 16px;
            position: relative;
            text-align: center;
            margin-left: 500px;
        }
    }



    //articlepost//

}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .color{
        background-color: #e6ecf0;
        header{
            width: 100%;
            height: 46px;
            background-color: white;
            border-bottom: #ACB1B4;
            border-bottom-style: solid;
            position: absolute;
            top: 0;
            .nav-container{
                width: 1190px;
                height: 46px;
                margin-left: auto;
                margin-right: auto;
                nav{
                    width: 448px;
                    height: 46px;
                    ul{
                        height: 46px;
                        padding-top: 10px;
                        li{
                            list-style-type: none;
                            display: inline;
                            width: 90;
                        }
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                    float: right;
                    position: absolute;
                    top: 0;
                    margin-top: 15px;
                }
                .right-nav{
                    width:400px;
                    height: 46px;
                    float: right;
                    position: absolute;
                    top: 0;
                    margin-left: 790px;
                    padding-top: 10px;
                    input{
                        border-radius: 100px;
                    }
                    img{
                        width: 38px;
                        height: 38px;
                        border-radius: 100px;
                        margin-left: 192px;
                        position: absolute;
                        top: 0;
                    }
                    button{
                        margin-right: 10px;
                        color: #FFFFFF;
                        background-color: #1DA1F2;
                        border: #1DA1F2;
                        font-weight: bold;
                        border-radius: 100px;
                        font-size: 14px;
                        padding: 6px 16px;
                        position: relative;
                        text-align: center;
                    }
                }
            }
        }
    }


    //profilecard//
    .profile-card{
        background-color: #FFFFFF;
        position: absolute;
        top: 55px;
        left: 25px;
        width: 290px;
        height: 260px;
        .card-colorheader{
            background-color: #1DA1F2;
            width: 290px;
            height: 95px;
        }
        .cardinfo-header{
            height: 50px;
            .card-photo{
                float: left;
                width: 72px;
                height: 72px;
                position: absolute;
                top:75px;
                img{
                    width: 72px;
                    height: 72px;
                    border-radius: 100px;
                }
            }
            .username{
                text-align: center;
            }
        }
        .card-info{
            margin-top: 12px;
            ul{
                margin-top: 12px;
                list-style-type: none;
                li{
                    color: #1DA1F2;
                    font-weight: bold;
                    width: 71px;
                    display: inline-block;

                    span{
                        color: #657786;
                        font-weight: lighter;
                    }


                }
            }
        }
    }
    //followcard//
    .following-card{
        position: absolute;
        top: 330px;
        left: 25px;
        width: 290px;
        height: 260px;
        .userbox{
            background-color: #FFFFFF;
            border-bottom: solid 1px;
            border-color: #6c757d;
            img {
                width: 72px;
                height: 72px;
                border-radius: 100px;
            }
            h1{
                font-size: 20px;
                width: 150px;
                display: inline;
                margin-left: 40px;
            }
        }
    }


    //tweetform//
    .form-group{
        padding-top: 12px;
        width: 600px;
        position: absolute;
        top: 300px;
        left: 410px;
        form{
            .form-control{
                border-radius: 5px;
            }
        }
        button{
            margin-right: 10px;
            color: #FFFFFF;
            background-color: #1DA1F2;
            border: #1DA1F2;
            font-weight: bold;
            border-radius: 100px;
            font-size: 14px;
            padding: 6px 16px;
            position: relative;
            text-align: center;
            margin-left: 500px;
        }
    }



    //articlepost//

}
