//default links//
a:link {
color: #66757F;
}
a:visited {
color: #66757F;
}
a:hover {
color: #66757F;
}
//home/index page//
.background{
     img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .leftside{
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .left{
            text-align: left;
            width: 389px;
            height: 264px;
            position: relative;
            top: 25%;
            left: 20%;
            h1{
                font-size: 18px;
                font-weight: bold;
                color: white;
                padding-left: 35px;
                margin-top: 48px;
                margin-bottom: 48px;

                img{
                width: 35px;
                height: 35px;
                padding-right: 5px;
                position: relative;
                }
            }
        }
    }
    .rightside{
        z-index: auto;
        float: right;
        position: absolute;
        background-color: white;
        width: 50%;
        height: 100%;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        .right{
            width: 350px;
            height: 326px;
            position: fixed;
            top: 120px;
            left: 770px;
            .login-home{
                width: 350px;
                height: 42px;
                margin-top: 16px;
                margin-bottom: 16px;
                .index-icon{
                    height: 35px;
                    width: 45px;
                    margin-top: 16px;
                }
                .tweeter-b0{
                    color: #1DA1F2;
                    background-color: white;
                    border: #1DA1F2;
                    border-style: solid;
                    font-weight: 500;
                    margin-left: 288px;
                    border-radius: 100px;
                    font-size: 12px;
                    padding: 12px 12px;
                    position: relative;
                    text-align: center;
                    height: 44px;
                    width: 62px;
                    a{
                        display: block;
                        border-radius: 100px
                    }
                    a:link {
                        color: #1DA1F2;
                    }
                    a:visited {
                        color: #1DA1F2;
                    }
                    a:hover {
                        background-color: #E8F5FE;
                    }
                }
            }
            h2{
                font-size: 27px;
                font-weight: bold;
            }
            h3{
                font-size: 18px;
                font-weight: bold;
                margin-top:48px;
                margin-bottom: 16px;
            }
            .tweeter-b1{
                color: white;
                background-color: #1DA1F2;
                border: #1DA1F2;
                font-weight: bold;
                width: 350px;
                margin-bottom: 16px;
                border-radius: 100px;
                font-size: 14px;
                padding: 6px 16px;
                position: relative;
                text-align: center;
                a{
                    display: block;
                    border-radius: 100px;
                }
                a:link {
                    color: #FFFFFF;
                }
                a:visited {
                    color: #FFFFFF;
                }
                a:hover {
                    background-color: #1A91DA;
                }
            }
            .tweeter-b2{
                color: #1DA1F2;
                background-color: white;
                border: #1DA1F2;
                border-style: solid;
                font-weight: bold;
                width: 350px;
                border-radius: 100px;
                font-size: 14px;
                padding: 6px 16px;
                box-shadow: none;
                position: relative;
                text-align: center;
                a{
                    display: block;
                    border-radius: 100px;
                }
                a:link {
                    color: #1DA1F2;
                }
                a:visited {
                    color: #1DA1F2;
                }
                a:hover {
                    background-color: #E8F5FE;
                }
            }
        }
    }
}
//indexpage//
footer{
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    ul {
        text-align: center;
        margin-top: 1%;
        list-style-type: none;
        margin: 0;
        padding-top: 1%;
        li{
            color: #66757F;
            font-size: 13px;
            padding-right: 1%;
            display: inline;
            a:link {
            color: #66757F;
            }
            a:visited {
            color: #66757F;
            }
            a:hover {
            color: #66757F;
            }
        }
    }
}

//login page//
.login{
    background-color: #E6ECF0;
    header{
        background-color: #FFFFFF;
        border-bottom: #ACB1B4;
        border-bottom-style: solid;
        width: 100%;
        height: 46px;
        position: absolute;
        margin-bottom: 5px;
        nav{
            margin-left: 173px;
            width: 200px;
            padding-top: 10px;
            ul{
                width: 200px;
                height: 36px;
                li{
                    font-size: 13px;
                    color: #677680;
                    font-weight: 500;
                    list-style-type: none;
                    display: inline;
                    padding-right: 20px;
                    img{
                        height: 20px;
                        width: 20px;
                        margin: 5px;
                    }
                }
            }
        }
    }
    .login-page{
        width: 837px;
        height: 329px;
        position: fixed;
        margin-left: 221.5;
        margin-right: 221.5;
        margin-top:60px;
        background-color: white;
        border: #CFD4D8;
        border-style: solid;
        .login-form{
            width: 600px;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            margin-bottom: 0;
            h4{
                font-size: 24px;
                width: 500px;
                margin-bottom: 15px;
            }
            .box{
                margin-bottom: 15px;
                width: 280px;
            }
            .tweeter-b3{
                margin-top: 15px;
                margin-right: 10px;
                color: #FFFFFF;
                background-color: #1DA1F2;
                border: #1DA1F2;
                font-weight: bold;
                border-radius: 100px;
                font-size: 14px;
                padding: 6px 16px;
                position: relative;
                text-align: center;
                a{
                    display: block;
                    border-radius: 100px
                }
                a:link {
                    color: #FFFFFF;
                }
                a:visited {
                    color: #FFFFFF;
                }
                a:hover {
                    background-color: #1A91DA;
                }
            }
            .rem{
                font-size: 14px;
            }
        }
        .bottom-login{
            background-color: #F5F8FA;
            height: 95px;
            padding-top:20px;
            padding-bottom: 20px;
            .block-content{
                width: 600px;
                margin-left: auto;
                margin-right: auto;
                .new{
                    color: #99A7B0;
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

//register page//
.register{
    header{
        nav{
            background-color: #FFFFFF;
            border-bottom: #ACB1B4;
            border-bottom-style: solid;
            height: 46px;
            ul{
                padding-top: 10px;
                img{
                    width: 25px;
                    height: 20px;
                    margin-left: 110px;
                }
                input{
                    background-color: rgba(0, 0, 0, 0.1);
                    font-weight: bold;
                    width: 350px;
                    margin-left: 26px;
                    border-radius: 100px;
                    border-style: none;
                    padding: 6px 16px;
                }
                li{
                    //font-size: 13px;
                    color: #677680;
                    font-weight: 500;
                    list-style-type: none;
                    display: inline;
                    padding-right: 20px;
                    margin-left: 340px;
                }
                .tweeter-b4{
                    width: 50px;
                    color: #1DA1F2;
                    background-color: #FFFFFF;
                    border: #1DA1F2;
                    border-style: solid;
                    font-weight: bold;
                    border-radius: 100px;
                    padding: 6px 16px;
                    position: relative;
                    text-align: center;
                }
                .tweeter-b5{
                    width: 50px;
                    color: #FFFFFF;
                    background-color: #1DA1F2;
                    border: #1DA1F2;
                    border-style: solid;
                    font-weight: bold;
                    border-radius: 100px;
                    padding: 6px 16px;
                    margin: 0;
                    position: relative;
                    text-align: center;
                }
            }
        }
    }

    .modal{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        .modal-dialog{
            background-color: #FFFFFF;
            width: 600px;
            height: 560px;
            border-radius: 1%;
            margin-right: auto;
            margin-left: auto;
            .modal-content{
                margin-top:20px;
                .modal-header{
                    width: 600px;
                    height: 30px;
                    padding-top: 10px;
                    img{
                        width: 25px;
                        height: 20px;
                        margin-left: 50%;
                    }
                }
                .modal-body{
                    width: 522px;
                    height: 300px;
                    margin-left: auto;
                    margin-right: auto;
                    .modal-title{
                        font-size: 25px;
                        width:522px;
                        height: 30px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    .modal-form{
                        input{
                            font-size: 25px;
                            background-color: #F5F8FA;
                            width:522px;
                            height: 80px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            border: none;
                            border-bottom-style: solid;
                            border-color: #B2B2B2;
                        }
                        .tweeter-b6{
                            color: #FFFFFF;
                            background-color: #1DA1F2;
                            border: #1DA1F2;
                            font-weight: bold;
                            margin-bottom: 16px;
                            margin-left: 200px;
                            border-radius: 100px;
                            font-size: 14px;
                            padding: 6px 16px;
                            position: relative;
                            text-align: center;
                            a:link {
                            color: #66757F;
                            }
                            a:visited {
                            color: #66757F;
                            }
                            a:hover {
                            color: #66757F;
                            }
                        }
                    }
                }

            }
        }
    }
}






@media screen and (max-width: 400px) {
    .background{
         img{
            display: none;
        }
        .leftside{
            display: none;
        }
        .rightside{
            width: 100%;
            .right{
                width: 400px;
                height: 326px;
                position: fixed;
                top: 50px;
                left: 0px;
                .login-home{
                    .index-icon{
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: fixed;
                        top: 10px;
                        left: 30px;
                    }
                    .tweeter-b0{
                        display: none;
                    }
                }
                h2{
                    text-align: center;
                }
                h3{
                    font-size: 10px;
                    text-align: center;
                }
                .tweeter-b1{
                    margin-left: 25px;
                }
                .tweeter-b2{
                    margin-left: 25px;
                }
            }
        }
    }
    //indexpage//
    footer{
        display: none;
    }

    //login page//
    .login{
        header{
            nav{
                margin-left: 0px;
            }
        }
        .login-page{
            width: 100%;
            margin-left: 0px;
            .login-form{
                button{
                    margin-left: 260px;
                }
                .checkbox{
                    display: none;
                }
                label{
                    display: none;
                }
                a{
                    display: none;
                }
            }
            .bottom-login{
                display:none;
            }
        }
    }

    //register page//
    .register{
        header{
            display: none;
        }
        .modal{
            .modal-dialog{
                .modal-content{
                    .modal-header{
                        img{
                            margin-left: 189px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 401px) and (max-width: 720px) {
    .background{
        img{
            display: none;
        }
        .leftside{
            display: none;
        }
        .rightside{
            width: 100%;
            .right{
                width: 100%;
                height: 326px;
                position: fixed;
                top: 50px;
                left: 0px;
                .login-home{
                    .index-icon{
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: fixed;
                        top: 10px;
                        left: 30px;
                    }
                    .tweeter-b0{
                        display: none;
                    }
                }
                h2{
                    text-align: center;
                }
                h3{
                    font-size: 10px;
                    text-align: center;
                }
                .tweeter-b1{
                    margin-left: 25%;
                }
                .tweeter-b2{
                    margin-left: 25%;
                }
            }
        }
    }
    //indexpage//
    footer{
        display: none;
    }
    //login page//
    .login{
        header{
            nav{
                margin-left: 0px;
            }
        }
        .login-page{
            width: 500px;
            margin-left: 100px;
            .login-form{
                h4{
                    text-align: center;
                }
                input{
                    margin-left: 110px;
                }
                button{
                    margin-left: 320px;
                }
                .checkbox{
                    display: none;
                }
                label{
                    display: none;
                }
                a{
                    display: none;
                }
            }
            .bottom-login{
                display:none;
            }
        }
    }
    //register page//
    .register{
        header{
            display: none;
        }
    }
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
    .background{
         img{
            display: none;
        }
        .leftside{
            display: none;
        }
        .rightside{
            width: 100%;
            .right{
                width: 100%;
                height: 326px;
                position: fixed;
                top: 50px;
                left: 0px;
                .login-home{
                    .index-icon{
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: fixed;
                        top: 10px;
                        left: 30px;
                    }
                    .tweeter-b0{
                        display: none;
                    }
                }
                h2{
                    text-align: center;
                }
                h3{
                    font-size: 10px;
                    text-align: center;
                }
                .tweeter-b1{
                    margin-left: 30%;
                }
                .tweeter-b2{
                    margin-left: 30%;
                }
            }
        }
    }
    //indexpage//
    footer{
        display: none;
    }
    //register page//
    .register{
        header{
            display: none;
        }
    }
}


@media screen and (min-width: 999px) and (max-width: 1200px) {
    .background{
         img{
            display: none;
        }
        .leftside{
            display: none;
        }
        .rightside{
            width: 100%;
            .right{
                width: 100%;
                height: 326px;
                position: fixed;
                top: 50px;
                left: 0px;
                .login-home{
                    .index-icon{
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: fixed;
                        top: 10px;
                        left: 30px;
                    }
                    .tweeter-b0{
                        display: none;
                    }
                }
                h2{
                    text-align: center;
                }
                h3{
                    font-size: 10px;
                    text-align: center;
                }
                .tweeter-b1{
                    margin-left: 35%;
                }
                .tweeter-b2{
                    margin-left: 35%;
                }
            }
        }
    }
    //indexpage//
    footer{
        display: none;
    }
    //register page//
    .register{
        header{
            display: none;
        }
    }
}
