<template>
    <div class="commentComponentContainer">
        <div class="commentsDisplay">
            <!-- <form action="new-comments" method="post"> -->
                <textarea class="form-control posts-textarea" rows="1" name="tweet"
                placeholder="post a comment" v-model="newComment" required></textarea>
                <button @click='SubmitComment()'>comment</button>
            <!-- </form> -->
            <footer>gif block here</footer>
        </div>
        <div class="comment">
            <!-- <article class="postContent">
                <comment-component></comment-component>
            </article> -->
            <article class="postContent">
                <comment-component v-for="comment in comments" :comment="comments"></comment-component>
            </article>

        </div>
        <!-- <div class="displayComments">
            <div class="commentContent">
                hey this is a comment
            </div>
            by {{}}@{{}}
            <br>
            <button :class="{'displayed': likeActive}" class="likeunlike" @click='likeComment(tweet.id)'>like</button>
            <button :class="{'displayed': unlikeActive}" class="likeunlike" @click='dislikeComment(tweet.id)'>dislike</button>
             <button @click='deleteTweet(tweet.id)'>delete</button>
        </div> -->
    </div>

</template>

<script>

    export default {
        mounted() {
            this.initialComments();
            console.log('comments Component mounted.')
        },
        data() {
            return{
                comments: [],
                newComment:' ',

            }
        },
        methods:{
            initialComments(){
                // alert();
                axios.post("/api/new-comment", {
                    tweet_id:this.tweetId,
                    user_id: currentLoggedInUser,
                    comment: this.newComment,
                })

                .then((response)=>{
                    console.log(response);
                })
                .catch(function(error){
                    console.log(error);
                });
           },
           SubmitComment(){
               alert(this.newComment);
           }
       },

       props:['tweetId']

   }
</script>
