<template>
    <div class="container">
        {{comment.comments}} by: {{comment.user_id}}@{{comment.created_at}}
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
        },
        props:['comment']
    }
</script>
