<template>
    <div class="tweetComponentContainer">
        <div class="displaytweets">
            <div class="tweetUser">
                <!-- <img src="{{ URL::asset('images/profile.png') }}" alt="profile"> -->
                {{tweet.user_id}}
                <p>{{tweet.created_at}}</p>
            </div>
            <div class="tweetContent clear">
                {{tweet.tweets}}
            </div>
            <br>
            <br>
            <footer class='buttonFooter'>
                <button  class="comment" @click='postComment(tweet.id)'><i class="far fa-comment"></i>#</button>
                <button :class="{'displayed': likeActive}" class="likeunlike" @click='likeTweet(tweet.id)'><i class="far fa-heart"></i>#</button>
                <button :class="{'displayed': unlikeActive}" class="likeunlike" @click='dislikeTweet(tweet.id)'><i class="fas fa-heart"></i>#</button>
            </footer>

            <!-- <button @click='deleteTweet(tweet.id)'>delete</button>  -->
             <article class="postContent">
                <comments-component :tweetId='tweet.id'></comments-component>
            </article>
        </div>
    </div>
</template>

<script>
    export default{
        mounted(){
            console.log('tweet component mounted')
        },
        data(){
            return{
                tweets: [],
                likeActive: true,
                unlikeActive:false
            }
        },
        methods:{
            likeTweet(tweet){
                this.tweet.likes=parseInt(this.tweet.likes)+1;
                this.likeActive = false;
                this.unlikeActive = true;

                axios.post('/api/like-tweet',{

                    tweet_id: tweetid,
                    likes: '1',
                    user_id: currentLoggedInUser,

                })
                .then(function (response){
                    console.log(response);
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            dislikeTweet(tweet){
                if (parseInt(this.tweet.likes)>0) {
                    this.tweet.likes=parseInt(this.tweet.likes)-1
                }

                this.likeActive = true;
                this.unlikeActive = false;
                axios.post('/api/like-tweet',{
                    tweet_id: tweetid,

                    likes: '1',

                    user_id: currentLoggedInUser,
                })
                .then((response)=>{
                    console.log(response);
                })
                .catch(function(error){
                    console.log(error);
                });
            }
        },
        props: ['tweet']
        }
</script>
